/* #calc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
 */
html {
  margin: 5px;
}

body {
  width: 293px;
}

/* td#hr {
  background-color: white;
  background-color: black;
  height: 5px;
} */

#target {
  display: flex;
  justify-content: space-around;
}

#calc tr > td:nth-child(1) {
/*   width: 112px; */
}

#calc tr > td:nth-child(2) > * {
  /* max-width: 142px; */
}

#calc tr > td:nth-child(2) {
  padding-right: 5px;
}

#calc tr > td:nth-child(3) > * {
  max-width: 75px;
}


#calc #probability {
  width: 45px;
}